{% extends './layout.html' %} {% block title %} 联系 {% endblock%} {% block contentList%}
<div style="margin-top:50px;margin-left:60px" id="content" class="post-single">

    <p style="font-weight:bold;
    font-size: 20px;
    font-family:adobe-caslon-w01-smbd,serif;">个人摘要</p>
    <p>身为一个程序员，需要不停地学习，之前做的一些笔记都收藏在为知或者有道笔记之中。但是一个人闭门造车终究有限，也不知理解的对错，还是要和同行进行精神上的碰撞才能更快成长。 接下来的日子里我会不定时地上传之前写过的笔记，同时也会督促自己继续更新以便养成良好的记录习惯，方便自己，帮助他人(要把自己的东西放上来总有种赤裸的感觉……) 大概算个新人吧，个人的能力有限，笔记也可能做的不是很好，如果能帮我指正，我会表示由衷的感谢，同时也希望我的一些学习所得能够帮助到有需要的同行。
    </p>


</div>
{% endblock%} {% block content %} {% endblock%} {% block js %} {% endblock%}